body {
    font: 100%/1.5 system-ui;
}

img {
    max-width: 15%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #0077cc !important;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 1rem;
    text-align: center;
}