* {
    color: black;
}

body {
    font: 100%/1.5 system-ui;
    background: #f8f8f8;
}

img {
    max-width: 15%;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0077cc !important;
}

/* Estilos para el header */
header {
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo a {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.logo a img {
    max-width: 200px;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.1em;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.description {
    margin: 1rem;
    text-align: center;
    max-width: 1000px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio a{
    text-decoration: none;
    color: rgb(46, 131, 234);
    padding-bottom: 20px;
}

.skills {
    text-align: start;
    padding: 30px;
}
.skills h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.skills ul {
    list-style: none;
    padding: 0;
}
.skills li {
    padding: 5px;
}
